@using DtoLayer.DTOS.ContactDtos;
@model CreateContactDto
@{
    ViewData["Title"] = "Insert";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="container">İletişim Bilgisi Ekleme Sayfası</h3>
<br />

<form asp-action="Insert" method="post">
    <label>Ofis İsmi</label>
    @Html.TextBoxFor(x=>x.OfficeName , new{@class="form-control"})
    <br />
    <label>Adres</label>
    @Html.TextBoxFor(x=>x.Address, new{@class="form-control"})
    <br />
    <label>Telefon</label>
    @Html.TextBoxFor(x=>x.Phone, new{@class="form-control"})
    <br />
    <label>Email</label>
    @Html.TextBoxFor(x=>x.Email, new{@class="form-control"})
    <br />
    <label>Çalışma Saatleri</label>
    @Html.TextBoxFor(x=>x.Hours, new{@class="form-control"})
    <br />
    <button class="btn btn-info">Kaydet</button>


</form>

