@using DtoLayer.DTOS.PropertyDtos;
@model UpdatePropertyDto
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="container">İlan Düzenleme Sayfası</h3>
<br />

<form asp-action="Update" method="post">
    @Html.HiddenFor(x=>x.PropertyID)
    <label>Başlık</label>
    @Html.TextBoxFor(x=>x.Title, new{@class="form-control"})
    <br />
    <label>Resim URL</label>
    @Html.TextBoxFor(x=>x.Image, new{@class="form-control"})
    <br />
    <label>Fiyat</label>
    @Html.TextBoxFor(x=>x.Price, new{@class="form-control"})
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x=>x.Description, new{@class="form-control"})
    <br />
    <label>Oda Sayısı</label>
    @Html.TextBoxFor(x=>x.Bedroom, new{@class="form-control"})
    <br />
    <label>Banyo Sayısı</label>
    @Html.TextBoxFor(x=>x.Bathroom, new{@class="form-control"})
    <br />
    <label>Metrekare</label>
    @Html.TextBoxFor(x=>x.Square, new{@class="form-control"})
    <br />
    <button class="btn btn-info">Kaydet</button>


</form>


